In [6]:
import pandas as pd  
import numpy as np

In [1]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

        ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

        ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

        ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

      ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [2]:
import mlxtend

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [4]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [5]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Pants, Skirt)

In [6]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf

In [7]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Skirt),(Pants),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [47]:
data=pd.read_csv(r'C:\checkpoint25\Market_Basket_Optimisation.csv', sep=",")

In [ ]:
records = []  
for i in range(0, 7501):  
    records.append([str(data.values[i,j]) for j in range(0, 20)])
    print(records[0])

In [87]:
import pandas as pd 
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(records).transform(records)
data=pd.DataFrame(te_ary,columns=te.columns_)

In [88]:
data.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [90]:
from mlxtend.frequent_patterns import apriori
itemsets=apriori(data,min_support=0.03,use_colnames=True)

In [91]:
itemsets

      support                         itemsets
0    0.033200                        (avocado)
1    0.033733                       (brownies)
2    0.087200                        (burgers)
3    0.030133                         (butter)
4    0.081067                           (cake)
..        ...                              ...
104  0.039200    (ground beef, nan, spaghetti)
105  0.048000       (milk, nan, mineral water)
106  0.035467           (milk, nan, spaghetti)
107  0.033733   (pancakes, nan, mineral water)
108  0.059733  (nan, mineral water, spaghetti)

[109 rows x 2 columns]

In [93]:
frequent_itemsets = apriori(data, min_support=0.0045, use_colnames=True)

In [94]:
from mlxtend.frequent_patterns import association_rules

association_rules(itemsets, metric="confidence", min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(avocado),(nan),0.033200,1.0,0.033200,1.0,1.0,0.0,inf
1,(brownies),(nan),0.033733,1.0,0.033733,1.0,1.0,0.0,inf
2,(burgers),(nan),0.087200,1.0,0.087200,1.0,1.0,0.0,inf
3,(butter),(nan),0.030133,1.0,0.030133,1.0,1.0,0.0,inf
4,(cake),(nan),0.081067,1.0,0.081067,1.0,1.0,0.0,inf
5,(champagne),(nan),0.046800,1.0,0.046800,1.0,1.0,0.0,inf
6,(chicken),(nan),0.060000,1.0,0.060000,1.0,1.0,0.0,inf
7,(chocolate),(nan),0.163867,1.0,0.163867,1.0,1.0,0.0,inf
8,(cookies),(nan),0.080400,1.0,0.080400,1.0,1.0,0.0,inf
9,(cooking oil),(nan),0.051067,1.0,0.051067,1.0,1.0,0.0,inf
10,(cottage cheese),(nan),0.031733,1.0,0.031733,1.0,1.0,0.0,inf
11,(eggs),(nan),0.179733,1.0,0.179733,1.0,1.0,0.0,inf
12,(escalope),(nan),0.079333,1.0,0.079333,1.0,1.0,0.0,inf
13,(french fries),(nan),0.170933,1.0,0.170933,1.0,1.0,0.0,inf
14,(fresh bread),(nan),0.043067,1.0,0.043067,1.0,1.0,0.0,inf
15,(frozen smoothie),(nan),0.063200,1.0,0.063200,1.0,1.0,0.0,inf
16,(frozen vegetables),(nan),0.095333,1.0,0.095333,1.0,1.0,0.0,inf
17,(grated cheese),(nan),0.052400,1.0,0.052400,1.0,1.0,0.0,inf
18,(green tea),(nan),0.132000,1.0,0.132000,1.0,1.0,0.0,inf
19,(ground beef),(nan),0.098267,1.0,0.098267,1.0,1.0,0.0,inf
20,(herb & pepper),(nan),0.049467,1.0,0.049467,1.0,1.0,0.0,inf
21,(honey),(nan),0.047333,1.0,0.047333,1.0,1.0,0.0,inf
22,(hot dogs),(nan),0.032400,1.0,0.032400,1.0,1.0,0.0,inf
23,(low fat yogurt),(nan),0.076400,1.0,0.076400,1.0,1.0,0.0,inf
24,(milk),(nan),0.129600,1.0,0.129600,1.0,1.0,0.0,inf
25,(mineral water),(nan),0.238267,1.0,0.238267,1.0,1.0,0.0,inf
26,(olive oil),(nan),0.065733,1.0,0.065733,1.0,1.0,0.0,inf
27,(pancakes),(nan),0.095067,1.0,0.095067,1.0,1.0,0.0,inf
28,(salmon),(nan),0.042400,1.0,0.042400,1.0,1.0,0.0,inf
29,(shrimp),(nan),0.071333,1.0,0.071333,1.0,1.0,0.0,inf
30,(soup),(nan),0.050533,1.0,0.050533,1.0,1.0,0.0,inf
31,(spaghetti),(nan),0.174133,1.0,0.174133,1.0,1.0,0.0,inf
32,(tomato juice),(nan),0.030267,1.0,0.030267,1.0,1.0,0.0,inf
33,(tomatoes),(nan),0.068400,1.0,0.068400,1.0,1.0,0.0,inf
34,(turkey),(nan),0.062533,1.0,0.062533,1.0,1.0,0.0,inf
35,(whole wheat rice),(nan),0.058533,1.0,0.058533,1.0,1.0,0.0,inf
36,"(chocolate, eggs)",(nan),0.033200,1.0,0.033200,1.0,1.0,0.0,inf
37,"(chocolate, french fries)",(nan),0.034400,1.0,0.034400,1.0,1.0,0.0,inf
38,"(chocolate, milk)",(nan),0.032133,1.0,0.032133,1.0,1.0,0.0,inf
39,"(chocolate, mineral water)",(nan),0.052667,1.0,0.052667,1.0,1.0,0.0,inf
40,"(chocolate, spaghetti)",(nan),0.039200,1.0,0.039200,1.0,1.0,0.0,inf
41,"(eggs, french fries)",(nan),0.036400,1.0,0.036400,1.0,1.0,0.0,inf
42,"(milk, eggs)",(nan),0.030800,1.0,0.030800,1.0,1.0,0.0,inf
43,"(eggs, mineral water)",(nan),0.050933,1.0,0.050933,1.0,1.0,0.0,inf
44,"(eggs, spaghetti)",(nan),0.036533,1.0,0.036533,1.0,1.0,0.0,inf
45,"(mineral water, french fries)",(nan),0.033733,1.0,0.033733,1.0,1.0,0.0,inf
46,"(frozen vegetables, mineral water)",(nan),0.035733,1.0,0.035733,1.0,1.0,0.0,inf
47,"(green tea, mineral water)",(nan),0.030933,1.0,0.030933,1.0,1.0,0.0,inf
48,"(ground beef, mineral water)",(nan),0.040933,1.0,0.040933,1.0,1.0,0.0,inf
49,"(ground beef, spaghetti)",(nan),0.039200,1.0,0.039200,1.0,1.0,0.0,inf
50,"(milk, mineral water)",(nan),0.048000,1.0,0.048000,1.0,1.0,0.0,inf
51,"(milk, spaghetti)",(nan),0.035467,1.0,0.035467,1.0,1.0,0.0,inf
52,"(pancakes, mineral water)",(nan),0.033733,1.0,0.033733,1.0,1.0,0.0,inf
53,"(mineral water, spaghetti)",(nan),0.059733,1.0,0.059733,1.0,1.0,0.0,inf